body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("download (1).jpeg");
    background-size: cover;

}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 10px 0;
}
header {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the navigation items */
}

.nav-menu li {
    float: left;
}

.nav-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-menu li a:hover {
    background-color: #111;
}
@media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
}